* {
    margin: 0;
    padding: 0;
}

body {
    background: #f4f3f2;
    overflow-x: hidden;
}

#navbar {
    position: absolute;
    height: 100px;
    width: 50%;
    margin-left: 20%;
    background-color: transparent;
}

#navbar img.logo {
    position: absolute;
    width: 25%;
    margin-top: 1.5%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 50%;
}

#navbar a {
    font-family:'Open Sans', sans-serif;
    color: black;
}

#navbar a:hover {
    color: lightgray;
    transition: 0.2s;
}

#navbar a:focus {
    color: lightblue;
}

#navbar a.features {
    position: absolute;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 40px;
}

#navbar a.demo {
    position: absolute;
    text-decoration: none;
    margin-left: 45.5%;
    margin-top: 40px;
}

#navbar a.patrocinadors {
    position: absolute;
    text-decoration: none;
    margin-left: 53%;
    margin-top: 40px;
}

#navbar a.faq {
    position: absolute;
    text-decoration: none;
    margin-left: 67%;
    margin-top: 40px;
}

#navbar a.contacte {
    position: absolute;
    text-decoration: none;
    margin-left: 73%;
    margin-top: 40px;
}

div.fondo svg.svg1 {
    margin-left: 69.4%;
    margin-top: -0.4%;
}

div.phone {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: -27%;
    margin-left: 60%;
}

div.phone img {
    width: 600px;
}

div.primerbloque {
    position: absolute;
    width: 50%;
    margin-top: -26%;
    height: 487px;
    margin-left: 20%;
}

div.primerbloque h1.textoPB1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}

div.primerbloque h1.textoPB2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #2AABD3;
}

div.primerbloque h2.subtituloPB1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: lightskyblue;
}

div.primerbloque h2.subtituloPB2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: lightskyblue;
}

div.primerbloque a.link2 img.playstore {
    width: 160px;
    height: 48px;
    margin-left: 10px;
}

div.primerbloque a.link1 img.appstore {
    width: 160px;
    height: 48px;
}

div.primerbloque a.link1 {
    text-decoration: none;
}

div.primerbloque a.link2 {
    text-decoration: none;
}

div.contadores {
    position: absolute;
    width: 870px;
    height: 200px;
    margin-left: 25%;
}

div.contadores div.contador {
    width: 280px;
    height: 200px;
    display: inline-block;
    text-align: center;
}

div.contadores div.contador h3.count {
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #2AABD3;
}

div.contadores div.contador p.descripcion {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: lightskyblue;
    margin-left: 10px;
}

div.contadores div.linea1 {
    position: absolute;
    border-left: solid lightskyblue;
    width: 0px;
    height: 60px;
    margin-top: -17%;
    margin-left: 280px;
}

div.contadores div.linea2 {
    position: absolute;
    border-left: solid lightskyblue;
    width: 0px;
    height: 60px;
    margin-top: -17%;
    margin-left: 580px;
}

div.segundobloque {
    position: absolute;
    width: 55%;
    margin-top: 15%;
    height: 800px;
    margin-left: 20%;
}

div.segundobloque h1.titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    margin-left: 36%;
}

div.segundobloque div.lineadegradao {
    position: absolute;
    width: 70px;
    height: 10px;
    margin-left: 45%;
    border-radius: 30px;
    background: linear-gradient(to right, lightskyblue, rgb(31, 31, 99));
}

div.segundobloque div.primeraparte {
    position: absolute;
    width: 100%;
    height: 400px;
}

div.segundobloque div.primeraparte div.punto {
    position: absolute;
    margin-top: 11.5%;
    margin-left: 49%;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: lightskyblue;
}

div.segundobloque div.primeraparte h1.tituloSB1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-left: 52%;
    margin-top: 10%;
}

div.segundobloque div.primeraparte p.explicassao {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin-left: 49%;
}

div.segundobloque div.primeraparte svg {
    position: absolute;
    margin-top: -25%;
    margin-left: 2%;
    opacity: 60%;
}

div.segundobloque div.primeraparte a.secreto1 img.movil2 {
    position: absolute;
    margin-top: -34%;
    width: 400px;
}