* {
    margin: 0px;
}

body {
    background: #f4f3f2;
}

#navbar {
    position: absolute;
    height: 100px;
    width: 50%;
    margin-left: 20%;
    background-color: transparent;
}

#navbar img.logo {
    position: absolute;
    width: 25%;
    margin-top: 1.5%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 50%;
}

#navbar a {
    font-family:'Open Sans', sans-serif;
    color: black;
}

#navbar a:hover {
    color: lightgray;
    transition: 0.2s;
}

#navbar a:focus {
    color: lightblue;
}

#navbar a.features {
    position: absolute;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 40px;
}

#navbar a.demo {
    position: absolute;
    text-decoration: none;
    margin-left: 45.5%;
    margin-top: 40px;
}

#navbar a.patrocinadors {
    position: absolute;
    text-decoration: none;
    margin-left: 53%;
    margin-top: 40px;
}

#navbar a.faq {
    position: absolute;
    text-decoration: none;
    margin-left: 67%;
    margin-top: 40px;
}

#navbar a.contacte {
    position: absolute;
    text-decoration: none;
    margin-left: 73%;
    margin-top: 40px;
}

div.fondo svg.svg1 {
    margin-left: 69.4%;
    margin-top: -0.4%;
}

div.primerbloque {
    position: absolute;
    width: 50%;
    margin-top: -26%;
    height: 487px;
    margin-left: 20%;
}

div.primerbloque h1.textoPB1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}

div.primerbloque h1.textoPB2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #2AABD3;
}

div.primerbloque h2.subtituloPB1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: lightskyblue;
}

div.primerbloque h2.subtituloPB2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: lightskyblue;
}

div.primerbloque a.link2 img.playstore {
    width: 160px;
    height: 48px;
    margin-left: 10px;
}

div.primerbloque a.link1 img.appstore {
    width: 160px;
    height: 48px;
}

div.primerbloque a.link1 {
    text-decoration: none;
}

div.primerbloque a.link2 {
    text-decoration: none;
}

div.contadores {
    border-style: solid;
    position: absolute;
    width: 850px;
    height: 200px;
    margin-left: 25%;
}

div.contadores div.contador {
    width: 280px;
    height: 200px;
    display: inline-block;
    text-align: center;
}

div.contadores div.contador h3.count {
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #2AABD3;
}

div.contadores div.contador p.descripcion {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: lightskyblue;
    margin-left: 10px;
}